*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    

    
    
}

.start{
    position: relative;
}

.text{
    position: absolute;
    top: 100px;
    left: 50px;
    width: 50%;
    font-weight: 1000;
    font-size: 150px;
    font-family: Integralcf,Arial,sans-serif;
    color: white;

    
}

.one{
    display: flex;
}

.img1{
    margin:30px;

}

.img1 img{
    border-radius: 20px;
}

.text1{
    font-size: 50px;
    font-family: Integralcf,Arial,sans-serif;
    font-weight: 900;
    margin: 30px;
    word-wrap: wrap;
    letter-spacing: 3px;
    word-spacing: 3px;
}

.text1 h1{
   display: inline;
   
}

span{
    color: blueviolet;
}


.apple{
    display: flex;
}

.img2{
    margin: 30px;
    
}
.img2 img{
    border-radius: 20px;
    border: 8px solid black;
    
}

.text2{
    margin: 30px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.exp{
    
  
margin-top: 30px;


}
.text2 p{
    height:fit-content;
    width: fit-content;
    background-color:black;
    padding: 20px;
    border-radius: 8px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    color:white;
    border: 4px solid rgb(234, 65, 65);

}

.img3{

    margin:30px;

     
}

.img3 img{
    border: 8px solid black;
    border-radius: 30px;
}

.spotify{
    display: flex;
}

.text3{
    margin: 30px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.text3 p{
    height:fit-content;
    width: fit-content;
    background-color:black;
    padding: 20px;
    border-radius: 8px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    color:white;
    border: 4px solid greenyellow;

}

html{
    scroll-behavior: smooth;
}

.youtube{
    display: flex;
}

.img4{
    margin: 30px;
}

.text4{
    margin: 30px;
}

.text4 h2{
    font-size: 50px;

}


.text4 p{
    height:fit-content;
    width: fit-content;
    background-color:black;
    padding: 20px;
    border-radius: 8px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    color:white;
    border: 4px solid burlywood;
    display: inline-block;

}

.prime{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.exp:hover{
   color: aquamarine;
}

.back{
    text-align: center;
    margin-top: 30px;
}



